joy_teleop:
  ros__parameters:

    walk:
      type: topic
      interface_type: geometry_msgs/msg/TwistStamped
      topic_name: cmd_vel
      deadman_buttons: [ 4 ]
      axis_mappings:
        twist-angular-z:
          axis: 0
          scale: 1.5
          offset: 0.0
        twist-linear-x:
          axis: 1
          scale: 1.0
          offset: 0.0
        twist-linear-y:
          axis: 3
          scale: 0.8
          offset: 0.0

    standby_controller:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 4, 0 ]
      service_request: { activate_controllers: [ standby_controller ],
                         deactivate_controllers: [ walking_controller, walking_controller1 ],
                         strictness: 1,
                         activate_asap: 1 }

    walking_controller:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 5, 0 ]
      service_request: { activate_controllers: [ walking_controller ],
                         deactivate_controllers: [ standby_controller, walking_controller1 ],
                         strictness: 1,
                         activate_asap: 1 }

    walking_controller1:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 5, 2 ]
      service_request: { activate_controllers: [ walking_controller1 ],
                         deactivate_controllers: [ standby_controller, walking_controller ],
                         strictness: 1,
                         activate_asap: 1 }

    stop_controller:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 1 ]
      service_request: { deactivate_controllers: [ standby_controller, walking_controller, walking_controller1 ],
                         strictness: 1,
                         activate_asap: 1 }

    stop_controller_left_stick:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 9 ]
      service_request: { deactivate_controllers: [ standby_controller, walking_controller, walking_controller1 ],
                         strictness: 1,
                         activate_asap: 1 }

    stop_controller_select:
      type: service
      interface_type: controller_manager_msgs/srv/SwitchController
      service_name: /controller_manager/switch_controller
      buttons: [ 6 ]
      service_request: { deactivate_controllers: [ standby_controller, walking_controller, walking_controller1 ],
                         strictness: 1,
                         activate_asap: 1 }
